<%- include('partials/header') %>

    <body>
        <h1>Hello User, Welcome to your profile page: <%= username %>
        </h1>
        <h3>Email of user: <%= email %>
        </h3>
        <!-- <% if(2>10){ %>
            hello
            <% } else{ %>
                nothing
                <% }%> -->
    </body>

    </html>